@model IEnumerable<ManufacturerViewModel>

@{
    ViewData["Title"] = "All Manufacturers";
    int counterId = 0;
}

<div class="container">
    <div class="row gap-5">
        @foreach (var manufacturer in Model)
        {
            counterId++;

            <div class="card text-bg-success mb-3 col " style="width: 18rem;padding:0;">
                @* <img src="..." class="card-img-top" alt="..."> *@
                <h3 class="card-header bg-success text-light text-center">@manufacturer.Name</h3>
                <div class="accordion accordion-flush" id="accordionFlush-@counterId">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed bg-warning text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@counterId" aria-expanded="false" aria-controls="flush-@counterId">
                                <span class="text-secondary fw-bolder">More Information</span>
                            </button>
                        </h2>
                        <div id="flush-@counterId" class="accordion-collapse collapse" data-bs-parent="#accordionFlush-@counterId">
                            <p class="card-text pt-2 pb-2 bg-warning ps-4 pe-4">@manufacturer.Description</p>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-info"><strong>Phone Number:</strong> @manufacturer.PhoneNumber</li>
                    <li class="list-group-item bg-info"><strong>Email:</strong> @manufacturer.Email</li>
                    <li class="list-group-item bg-info"><strong>Address:</strong> @manufacturer.Address, @manufacturer.City</li>
                </ul>
                @* <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div> *@
            </div>
        }
    </div>
</div>
