@using SmallFarm.Core.Models.Product

@model IEnumerable<ProductToBuyModel>

@{
    ViewData["Title"] = "Cart";

    int productCount = 0;

}

@if (!Model.Any())
{
    <div class="text-center" style="margin-top:12em">
        <h1>THE CART IS EMPTY</h1>
        <span class="text-danger" style="font-size:12px">[Your product may have been removed!]</span>
    </div>
}

@foreach (var product in Model)
{
    productCount++;

    <div style="display:flex; gap:10em">
        <div class="card mb-3" style="max-width:540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@product.ImageUrl" class="img-fluid rounded-start" style="margin-top:45%" alt="Image of @product.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="display:flex;flex-direction:column;gap:5px">

                        <div style="display:flex;justify-content:space-between">
                            <p class="card-text text-secondary" style="font-size:0.8em">@product.Manufacturer</p>

                            <div>
                                <a asp-controller="Cart" asp-action="Remove" asp-route-id="@product.Id"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <h5 class="card-title">@product.Name</h5>
                        <span class="card-text">@product.Description</span>

                        @if (product.Category == "Drink")
                        {
                            <span  class="card-text">Liters: @product.Quantity</span>
                            <span class="card-text text-danger text-uppercase">@product.AvailableQuantity liters have left</span>

                            <div style="display:flex;flex-direction:column;align-items:end;">
                                <span class="card-text text-secondary"><small class="text-body-secondary">@product.PricePerKg € per liter</small></span>
                                <span id="totalPrice" class="card-text fw-bold">@product.Total €</span>
                            </div>
                        }
                        else
                        {
                            <span class="card-text">Kilograms: @product.Quantity</span>
                            <span class="card-text text-danger text-uppercase">@product.AvailableQuantity kg have left</span>

                            <div style="display:flex;flex-direction:column;align-items:end;">
                                <span class="card-text text-secondary"><small class="text-body-secondary">@product.PricePerKg € per kilogram</small></span>
                                <span id="totalPrice" class="card-text fw-bold">@product.Total €</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        @if (productCount == 1)
        {
            <div class="card text-center mb-3" style="width: 25rem;">
                <div class="card-body" style="display:flex;flex-direction:column;gap:2em">
                    <h5 class="card-title">Order info</h5>
                    <p class="card-text">Total Sum: @Model.Sum(p => p.Total) €</p>
                    <a asp-controller="Order" asp-action="Index" class="btn btn-dark">Place an Order</a>
                </div>
            </div>
        }
    </div>
}
