@using SmallFarm.Core.Models.Product;

@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Product Catalog";
}

<div class="container" style="margin-top:35px">
    <div class="row gap-5">
        @foreach (var product in Model)
        {
            <div class="card text-bg-success mb-3 col-1 bg-info" style="width: 15rem;padding:0;">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" style="text-decoration:none">
                    <img src="@product.ImageUrl" class="card-img-top" alt="Image of @product.Name" style="height:100px">

                    <h5 class="card-header bg-success text-light text-center">@product.Name</h5>

                    <ul class="list-group text-center" style="font-size:12px">
                        <li class="list-group-item bg-info" style="height:3em;">@product.Manufacturer</li>
                        <li class="list-group-item bg-info" style="height:3em;">@product.Price lv. per kilogram</li>
                    </ul>
                </a>
            </div>
        }
    </div>
</div>
