@using Microsoft.AspNetCore.Identity
@using SmallFarm.Core.Contracts
@using SmallFarm.Core.Services
@using SmallFarm.Data.Entities
@using SmallFarm.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ICartService CartService
@inject IOrderService OrderService

@{
    string userId = UserManager.GetUserId(User);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (!User.IsAdmin() && !User.IsManufacturer())
        {
            <li class="nav-item">
                <a asp-controller="Order" asp-action="Index" asp-route-id="@userId" class="text-success" id="icon-container">
                    <i class="far fa-credit-card fs-5 me-2" style="margin-top:0.6em"></i>
                    
                    @if (TempData["Confirmed"] != null)
                    {
                        <span id="notification-badge">@TempData["Confirmed"]</span>
                    }
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Cart" asp-action="Index" asp-route-id="@userId" class="text-success" id="icon-container">
                    <i class="fas fa-shopping-cart fs-5 me-2" style="margin-top:0.6em"></i>
                    <span id="notification-badge">@CartService.GetProductsInCartCount(UserManager.GetUserId(User))</span>
                </a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-outline-light text-success fw-bold border-0" style="font-size:18px">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-success fw-bold btn btn-outline-light text-decoration-none border-0" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<style>
    #icon-container {
        position: relative;
        display: inline-block;
    }

    #notification-badge {
        position: absolute;
        top: 4px;
        right: 0px;
        background-color: red;
        color: white;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>